@model AssignmentFIT5032.Models.SendEmailViewModel

@{
    ViewBag.Title = "Send_Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send_Email</h2>


@using (Html.BeginForm("Send_Email", "Hotels", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <label for="ToEmail" class="col-sm-2 control-label">Email To</label>
            </div>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="ToEmail" name="ToEmail" placeholder="Email To" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="Subject" class="col-sm-2 control-label">Subject</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Subject" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="Contents" class="col-sm-2 control-label">Contents</label>
            </div>
            <div class="col-sm-10">
                <textarea class="form-control" rows="4" name="Contents"></textarea>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
    @ViewBag.Message
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
